<div class="section source-code">
    <p>
        {{ 'help.show_code'|trans|raw }}
    </p>

    <button type="button" class="btn btn-secondary py-3 btn-lg btn-block" data-toggle="modal" data-target="#sourceCodeModal">
      <i class="fa fa-cogs" aria-hidden="true"></i> {{ 'action.show_code'|trans }}
    </button>

    {{ show_source_code_modal(template_raw, 'sourceCodeModal') }}
</div>
